* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(39, 42, 48);
}

.header {
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
}

.header img {
  width: 3vw;
  height: auto;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconbutton.MuiIconButton-root {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #ffc107;
  color: #000;
}

.iconbutton.MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffc107;
}

.deleteIcon.MuiIconButton-root {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: crimson;
}

.deleteIcon.MuiIconButton-root:hover {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: crimson;
  color: #fff;
}

.main_note {
  width: 40%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.15);
}

.main_note input.form-control {
  font-size: 1.5rem;
}

.main_note input.form-control,
.main_note .form-floating textarea.form-control {
  border: none;
  outline: none;
  border-radius: 0%;
}

.main_note input.form-control:focus,
.main_note .form-floating textarea.form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.main_note .form-floating textarea.form-control {
  height: 7rem;
  resize: none;
  transition: all 0.2s linear;
}

.note {
  width: 29%;
  height: 13rem;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.15);
  position: relative;
}

.note .note-content {
  word-spacing: 0.01rem;
  text-align: justify;
}

.note .remove {
  position: absolute;
  left: 0;
  bottom: 0;
}
