@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.location {
  font-size: 70px;
  user-select: none;
}

.temp {
  font-size: 40px;
  letter-spacing: 3px;
  user-select: none;
}

.temp_minmax {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  user-select: none;
}

.temp_app {
  position: relative;
  overflow: hidden;
}

.temp_app::after {
  content: "";
  position: absolute;
  width: 140%;
  height: 100%;
  background-color: rgb(100, 131, 190);
  opacity: 55%;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 390px;
  border-top-right-radius: 390px;
  /* mix-blend-mode: soft-light; */
  animation: bounce 1.3s ease-in-out infinite alternate;
}

.location,
.temp,
.temp_minmax {
  animation: updown 1.3s ease-in-out infinite alternate;
}

@keyframes updown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -10px);
  }

  100% {
    transform: translate(-50%, 10px);
  }
}
